<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>
            Added
        </title>
        <link href="/static/nomore.css" rel="stylesheet">

    </head>

    <body>
        <div class="form1">
            <div>

                <form action="/add" method="get">
                    <p>Book has been Added</p>

                    <div class="container">
                        <button class="glow-on-hover">Add More Books</button>
                    </div>
                </form>
                <br>
                <form action="/lib_success" method="get">
                    <div class="container">
                        <button class="glow-on-hover">Home</button>
                    </div>
                </form>
                <br>
                <form action="/logout" method="get">
                    <div class="container">
                        <button class="glow-on-hover">Logout</button>
                    </div>
                </form>

            </div>
        </div>
    </body>

</html>