<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>
            No More
        </title>
        <link href="/static/nomore.css" rel="stylesheet">

    </head>

    <body>
        <div class="form1">
            <div>

                <form action="/Borrow" method="get">
                    <p>Only one book is allowed to take which you have taken</p>

                    <p>Return it to get New Book</p>

                    <div class="container">
                        <button class="glow-on-hover">Find More Books</button>
                    </div>
                </form>
                <br>
                <form action="/Return" method="get">
                    <div class="container">
                        <button class="glow-on-hover">Return Book</button>
                    </div>
                </form>
            </div>
        </div>
    </body>

</html>