<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>
            Returned
        </title>
        <link href="/static/nomore.css" rel="stylesheet">

    </head>

    <body>
        <div class="form1">
            <div>

                <form action="/success" method="get">
                    <p>Book has been return</p>
                    <div class="container">
                        <button class="glow-on-hover">HOME</button>
                    </div>
                </form>
                <br>
                <form action="/Borrow" method="get">
                    <div class="container">
                        <button class="glow-on-hover">Find More Books</button>
                    </div>
                </form>
                <br>
                <form action="/logout" method="get">
                    <div class="container">
                        <button class="glow-on-hover">LOGOUT</button>
                    </div>
                </form>
            </div>
        </div>
    </body>

</html>