<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>
            Uploaded
        </title>
        <link href="/static/nomore.css" rel="stylesheet">

    </head>

    <body>

        <div>

            <div class="form1">
                <h1 align="center">&#127881;</h1>
                <p>CONFIRMATION: Pdf of book has been Uploaded</p>
                <br>
                <form action="/upload" method="get">
                    <div class="container">
                        <button class="glow-on-hover">Upload More Books</button>
                    </div>
                </form>
                <br>
                <form action="/success" method="get">
                    <div class="container">
                        <button class="glow-on-hover">HOME</button>
                    </div>
                </form><br>
                <form action="/logout" method="get">
                    <div class="container">
                        <button class="glow-on-hover">LOGOUT</button>
                    </div>
                </form>

            </div>
        </div>
    </body>

</html>