<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <title>
            home
        </title>
        <link href ="/static/index.css" rel="stylesheet">

    </head>
    <body>
        <h1>
            Ride <br>
            Sharing
        </h1>
        <form action="/login" method="get">
        <div class="new1">
            <div class = "container">
                <button class="glow-on-hover">Login</button></form>
            </div>
        </form>
        <form action="/signup" method="get">
            <div class="new2">
                <div class = "container">
                    <button class="glow-on-hover">Sign up</button>
                </div>
            </div>
        </form>
    </body>
</html>
