<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>
            login
        </title>
        <link href="/static/login.css" rel="stylesheet">

      </head>
    <body>
        <div class="form1">
            <form action="/login" method="post" >
                <h1>LOGIN</h1>
                <br>
                <input type="text" name="user" placeholder="Enter UserId/Number" required autofocus>
                <p>{{nofound}}</p><br>
                <input type="password" name="passw" placeholder="Enter Password" required autofocus><br>
                <p>{{incorrect}}</p>
                <br>
                <input type="submit" value="Login" name="submit">
            </form>
            <br>
            <form action="/signup" method="get">
                <input type="submit" value="SignUp" name="forget_pass">
            </form>
            <form action="/change_pass" method="get">
                <input type="submit" value="Forgot Password" name="forget_pass">
            </form>
         </div>
    </body>
</html>
